.header {
  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
  }
  &__map {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 37px;
    margin-left: 30px;
  }
  &__nav {
  }
  &__mavItems {
    display: flex;
  }
  &__navItem {
    color: #060d25;
    font-size: 16px;
    line-height: 118%;
    &:not(:last-child) {
      margin-right: 24px;
    }
    &:hover {
      color: rgb(117, 21, 226);
    }
    transition: 0.5s;
  }
  &__link {
    color: inherit;
  }
  &__login {
  }
}

.login-button {
  background: #edefff;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__link {
    padding: 1px 20px;
    color: #485bff;
    text-align: center;
    font-size: 15px;
    line-height: 127%;
  }
}
