.main {
  &__special {
    margin-top: 161px;
    background: url("../img/pages/heading/background.png") bottom / 1225px 500px no-repeat;

    @media screen and (max-width: 992px) {
      margin-top: 140px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 120px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 40px;
    }
  }
  &__partners {
    background-color: #ffc6f7;
  }
  &__info {
    background-color: #ffc6f7;
    padding-top: 66px;
    @media screen and (max-width: 992px) {
      padding-top: 40px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 30px;
    }
    @media screen and (max-width: 576px) {
      padding-top: 20px;
    }
  }
  &__integrate {
    background-color: #ffc6f7;
    padding-top: 64px;
  }
  &__preview {
    background-color: #060d26;
    padding-top: 61px;
  }
  &__utility {
    margin-top: 48px;
  }
  &__features {
    margin-top: 64px;
  }
  &__pricing {
    margin-top: 125px;
    @media screen and (max-width: 992px) {
      margin-top: 85px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 30px;
    }
  }
  &__extra {
    margin-top: 74px;
    margin-bottom: 70px;
    @media screen and (max-width: 992px) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  &__teams {
    background-color: #f6f7fb;
  }
  &__tools {
    margin-top: 64px;
    margin-bottom: 64px;
    @media screen and (max-width: 992px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

// special block --------------------
.special {
  text-align: center;

  &__container {
    position: relative;
  }
  &__body {
  }
  &__title {
    margin-bottom: 80px;
    @media screen and (max-width: 992px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &__subLabel {
    max-width: 356px;
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 118.75%;
    color: $fontBaseColor;
    @media screen and (max-width: 992px) {
      margin-bottom: 10px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 13px;
      font-size: 14px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 576px) {
      font-size: 12px;
      max-width: 256px;
    }
  }
  &__label {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 43px;
    @media screen and (max-width: 992px) {
      margin-bottom: 33px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      max-width: 400px;
    }
  }
  &__text {
    max-width: 517px;
    margin: 0 auto;
    margin-bottom: 40px;
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 576px) {
      max-width: 440px;
    }
  }
  &__button {
    @media screen and (max-width: 576px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &__image {
    max-width: 360px;
    margin: 0 auto;
    & img {
      width: 100%;
    }
    @media screen and (max-width: 992px) {
      max-width: 320px;
    }
    @media screen and (max-width: 576px) {
      max-width: 300px;
    }
  }

  //icons
  &__iconArrow {
    position: absolute;
    top: 700px;
    left: 80px;

    @media screen and (max-width: 1169px) {
      left: 30px;
    }
    @media screen and (max-width: 1055px) {
      left: 10px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__iconPreson1 {
    position: absolute;
    top: 30px;
    left: 40px;
    @media screen and (max-width: 1169px) {
      left: 30px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__iconPreson2 {
    position: absolute;
    top: 430px;
    left: 40px;
    @media screen and (max-width: 1169px) {
      left: 20px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__iconPreson3 {
    position: absolute;
    top: 180px;
    left: 980px;
    @media screen and (max-width: 1169px) {
      left: 820px;
    }
    @media screen and (max-width: 1055px) {
      left: 770px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__iconPreson4 {
    position: absolute;
    top: 400px;
    left: 840px;
    @media screen and (max-width: 1169px) {
      left: 760px;
    }
    @media screen and (max-width: 1055px) {
      left: 690px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}
// ----------------------------------

// partners block --------------------

.partners {
  &__container {
  }
  &__body {
  }
  &__label {
    padding-top: 70px;
    text-align: center;
    @media screen and (max-width: 992px) {
      padding-top: 50px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 30px;
    }
    @media screen and (max-width: 576px) {
      padding-top: 20px;
    }
  }
  &__icons {
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    max-width: 245px;

    & img {
      width: 100%;
    }
  }
}

// ----------------------------------

// info block --------------------

.info {
  &__container {
  }
  &__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__item {
    flex: 0 1 600px;

    @media screen and (max-width: 1259px) {
      flex: 1 1 600px;
      &:nth-child(odd) {
        margin-right: 0px;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &:nth-child(odd) {
      margin-right: 24px;
    }
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
    }
  }
}

.item-info {
  display: flex;
  flex-flow: column nowrap;
  background: #ffffff;
  border-radius: 24px;
  &__heading {
    padding: 32px 32px;
    max-width: 452px;
    flex: 0 1 100%;
    font-size: 30px;
    line-height: 120%;
    & strong {
      font-weight: 700;
    }
    @media screen and (max-width: 1259px) {
      align-self: flex-end;
    }

    @media screen and (max-width: 992px) {
      font-size: 26px;
    }
    @media screen and (max-width: 813px) {
      align-self: center;
      text-align: center;
      max-width: 552px;
    }
    @media screen and (max-width: 768px) {
      font-size: 23px;
    }
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  &__image {
    max-width: 600px;
    & img {
      width: 100%;
    }
  }
}
.item-info-first {
  margin-bottom: 24px;
}
.item-info-second {
  margin-bottom: 24px;
}
.item-info-third {
}
.item-info-fourth {
}

// ----------------------------------

// integrate block --------------------

.integrate {
  &__container {
  }
  &__body {
    text-align: center;
  }
  &__label {
    max-width: 603px;
    margin: 0 auto;
    margin-bottom: 116px;
    @media screen and (max-width: 992px) {
      margin-bottom: 86px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 46px;
      max-width: 400px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 26px;
    }
  }
  &__button {
    min-height: 33px;
    margin-bottom: 52px;
    @media screen and (max-width: 992px) {
      margin-bottom: 36px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 26px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 23px;
    }
  }
  &__comment {
  }
  &__starts {
  }
  &__text {
    max-width: 361px;
    margin: 0 auto;
    margin-top: 7px;
    padding-bottom: 66px;
    text-align: center;
    color: #59617d;
    font-size: 16px;
    line-height: 119%;
    @media screen and (max-width: 576px) {
      padding-bottom: 30px;
    }
  }
}

// ----------------------------------

// preview block --------------------

.preview {
  &__container {
  }
  &__body {
    text-align: center;
  }
  &__headig {
    color: $fontWhiteColor;
    font-size: 48px;
    line-height: 112.2%;
    text-align: center;
    max-width: 596px;
    margin: 0 auto;
    margin-bottom: 51px;
    @media screen and (max-width: 992px) {
      font-size: 38px;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
      max-width: 396px;
    }
    @media screen and (max-width: 576px) {
      font-size: 25px;
    }
  }

  &__image {
    max-width: 1224px;
    & img {
      width: 100%;
    }
  }
}

// ----------------------------------

// utility block --------------------

.utility {
  &__container {
  }
  &__body {
    display: flex;

    @media screen and (max-width: 1249px) {
      flex-flow: row wrap;
    }
  }
  &__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    text-align: center;
    flex: 0 1 25%;
    padding: 10px 12px;
    @media screen and (max-width: 1249px) {
      flex: 0 1 50%;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 533px) {
      flex: 0 1 100%;
      margin-bottom: 10px;
    }
  }
}

.item-utility {
  &__icon {
    margin-bottom: 16px;
  }
  &__label {
    font-weight: 700;
    color: $fontBlackColor;
    margin-bottom: 7px;
  }
  &__text {
    color: $fontBaseColor;
    line-height: 114%;
    font-size: 14px;
    @media screen and (max-width: 1249px) {
      max-width: 450px;
      padding: 0px 15px;
    }
    @media screen and (max-width: 533px) {
      max-width: 300px;
    }
  }
}

// ----------------------------------

// features block --------------------

.features {
  &__container {
  }
  &__body {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1261px) {
      flex-flow: row wrap;
    }
  }
  &__item {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 24px;
    &:not(:last-child) {
      margin-right: 24px;
      @media screen and (max-width: 1261px) {
        margin-right: 0px;
        margin-bottom: 24px;
      }
    }
    @media screen and (max-width: 1261px) {
      flex: 0 1 100%;
      flex-flow: row-reverse nowrap;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      flex-flow: column nowrap;
      flex: 0 1 600px;
    }
  }
  &__label {
    max-width: 472px;
    flex: 0 1 100%;
    padding: 32px 32px;
    font-size: 30px;
    color: $fontBlackColor;
    line-height: 120%;
    & strong {
      font-weight: 700;
    }
    @media screen and (max-width: 1261px) {
      margin: 0 auto;
      text-align: center;
    }
    @media screen and (max-width: 992px) {
      font-size: 25px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
    @media screen and (max-width: 576px) {
      font-size: 18px;
    }
  }
  &__image {
    @media screen and (max-width: 992px) {
      max-width: 600px;
      & img {
        width: 100%;
      }
    }
  }
}
.item-feature-second {
  background: url("../img/pages/features/backgroundSecond.png") center / 600px 670px no-repeat;
  @media screen and (max-width: 1261px) {
    background: url("../img/pages/features/backgroundSecond.png") center / 100% no-repeat;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/pages/features/backgroundSecond.png") center / 600px 670px no-repeat;
  }
}
.item-feature-first {
  background: url("../img/pages/features/backgroundFirst.png") center / 600px 670px no-repeat;
  @media screen and (max-width: 1261px) {
    background: url("../img/pages/features/backgroundFirst.png") center / 100%no-repeat;
  }
  & img {
    margin-bottom: 57px;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/pages/features/backgroundFirst.png") center / 600px 670px no-repeat;
  }
}

// ----------------------------------

// pricing block --------------------

.pricing {
  &__container {
    max-width: 1241px;
    @media screen and (max-width: 1265px) {
      max-width: 1225px;
    }
  }
  &__body {
    display: flex;
    @media screen and (max-width: 1265px) {
      flex-flow: row wrap;
      justify-content: center;
    }
  }
  &__item {
    padding: 24px 25px 37px 25px;
    background: #ffffff;
    border: 1px solid #dee1ea;
    border-radius: 24px;
    text-align: center;
    flex: 0 1 25%;
    margin: 0px 8px;

    @media screen and (max-width: 1265px) {
      flex: 0 1 47%;
      margin: 10px 10px;
    }
    @media screen and (max-width: 697px) {
      flex: 0 1 100%;
      margin: 10px 0px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.item-pricing {
  &__label {
    font-size: 36px;
    color: $fontBlackColor;
    line-height: 117%;
    font-weight: 700;
    margin-bottom: 20px;
    @media screen and (max-width: 1265px) {
      font-size: 33px;
    }
    @media screen and (max-width: 697px) {
      font-size: 28px;
    }
  }
  &__price {
    margin-bottom: 13px;
    font-size: 64px;
    line-height: 106%;
    color: #485bff;
    @media screen and (max-width: 1265px) {
      font-size: 50px;
    }
    @media screen and (max-width: 697px) {
      font-size: 40px;
    }
  }
  &__specify {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 24px;
    color: #59617d;
  }
  &__info {
  }
  &__button {
    width: 100%;
    font-size: 16px;
    line-height: 119%;
    font-weight: 700;
    & span {
      padding: 2px 32px;
    }
  }
  transition: 0.5s;
  &:hover {
    background: #485bff;
    border: 1px solid #485bff;
    .item-pricing {
      &__label {
        color: $fontWhiteColor;
      }
      &__price {
        color: $fontWhiteColor;
      }
      &__specify {
        color: $fontWhiteColor;
      }
      &__button {
        background-color: #ffffff;
        color: #485bff;
        &:hover {
          color: $fontBlackColor;
        }
      }
    }
  }
}
.info-pricing {
  background: #f6f7fb;
  border-radius: 16px;
  padding: 12px 16px;
  margin-bottom: 33px;
  &__projects {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: 16px;
    line-height: 119%;
    color: $fontBlackColor;
    font-weight: 700;
  }
  &__value {
    font-size: 16px;
    line-height: 119%;
    color: $fontBaseColor;
  }
}

// ----------------------------------

// extra block --------------------

.extra {
  &__container {
  }
  &__body {
    text-align: center;
  }
  &__label {
    margin-bottom: 16px;
  }
  &__text {
    max-width: 361px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  &__button {
    background: #edefff;
    color: #485bff;
    font-size: 19px;
    line-height: 126%;
    padding-top: 2px;
    padding-bottom: 2px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    &:hover {
      color: $fontWhiteColor;
    }
    & span {
    }
  }
}

// ----------------------------------

// teams block --------------------

.teams {
  &__container {
  }
  &__body {
    padding-bottom: 64px;
    display: flex;
    flex-flow: row nowrap;
    @media screen and (max-width: 843px) {
      flex-flow: row wrap;
    }
  }
  &__item {
  }
  &__label {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 61px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 112%;
    color: $fontBlackColor;
    font-weight: 700;
    @media screen and (max-width: 992px) {
      font-size: 36px;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
    @media screen and (max-width: 576px) {
      font-size: 25px;
    }
  }
}

.item-teams {
  background: #ffffff;
  border-radius: 16px;
  flex: 0 1 33.3333333%;
  display: flex;
  flex-direction: column;
  padding: 21px 16px;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 24px;
  }
  @media screen and (max-width: 843px) {
    flex: 1 1 300px;
    &:not(:last-child) {
      margin-right: 0px;
    }
    margin: 10px;
  }
  @media screen and (max-width: 661px) {
    flex: 1 1 100%;
    margin: 0px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__image {
    margin-bottom: 29px;
  }
  &__text {
    flex: 0 1 100%;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 119%;
    color: $fontBaseColor;

    @media screen and (max-width: 768px) {
      font-size: 15px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }
  &__painting {
  }
  &__profession {
    font-size: 13px;
    line-height: 146%;
    color: $fontBaseColor;
  }
  &__name {
    font-size: 14px;
    line-height: 136%;
    font-weight: 700;
    color: $fontBaseColor;
  }
}

// ----------------------------------

// tools block --------------------

.tools {
  &__container {
    background: url("../../img/pages/tools/toolsback.png") center / 100% no-repeat;
    @media screen and (max-width: 646px) {
      background: url("../../img/pages/tools/toolsback.png") center / 0% no-repeat;
    }
  }
  &__body {
    padding: 242px 0px 122px 0px;
    text-align: center;
    @media screen and (max-width: 992px) {
      padding: 152px 0px 152px 0px;
    }
    @media screen and (max-width: 768px) {
      padding: 82px 0px 82px 0px;
    }
    @media screen and (max-width: 646px) {
      padding: 30px 0px 20px 0px;
    }
  }
  &__label {
    max-width: 498px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    line-height: 117%;
    color: $fontBlackColor;
    font-weight: 700;
    margin-bottom: 17px;
    @media screen and (max-width: 992px) {
      font-size: 30px;
      padding: 10px;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    @media screen and (max-width: 768px) {
      font-size: 26px;
      max-width: 400px;
    }
    @media screen and (max-width: 646px) {
      background: none;
      border-radius: 0px;
      box-shadow: none;
    }
    @media screen and (max-width: 576px) {
      font-size: 21px;
    }
  }
  &__text {
    max-width: 564px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 1162px) {
      padding: 10px;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    @media screen and (max-width: 646px) {
      background: none;
      border-radius: 0px;
      box-shadow: none;
      max-width: 364px;
    }
  }
  &__button {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #edefff;
    color: #485bff;
    &:hover {
      color: #ffffff;
    }
    @media screen and (max-width: 456px) {
      width: 100%;
    }
  }
}

// ----------------------------------
